<p class="breadcrumbs">
  <%= link_to "Admin", admin_path %> »
  <%= link_to "Appearance Types", admin_appearance_types_path %> »
</p>

<h1>New appearance type</h1>

<%= render "form", appearance_type: @appearance_type %>

<p><%= link_to "Back", admin_appearance_types_path %></p>
