<h1>Editing appearance</h1>

<%= render "form", speaking_appearance: @speaking_appearance %>

<br>

<div>
  <%= link_to "Show this appearance", @speaking_appearance %> |
  <%= link_to "Back to appearances", speaking_appearances_path %>
</div>
