
* {
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  line-height: $base-line-height;
  margin: 0;
  padding: 0;
}

a,
a:link {
  color: $base;
}

header {
  background: $gray-darkest;
  margin-top: 0;
  padding: 1em;

  @include media('>tablet') {
    padding: 1em 3em;
  }

  hgroup { display: none; }

  &#masthead {
    background-image: image-url("john_frontrunners_19.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    div.backdrop {
      background-color:rgba(0, 0, 0, 0.5);
      margin: -1em;
      padding: 1em;

      @include media('>tablet') {
        margin: -1em -3em;
        padding: 1em 3em;
      }

      @include media('>desktop') {
        background-color: transparent;
      }
    }

    hgroup {
      display: block;

      @include media('>tablet') {
        margin: 7em 0 5em;
      }
    }

    h1 {
      color: $white;
      font-weight: 900;
      @include font-size(52px);
      line-height: 1;
      margin-bottom: 10px;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

      @include media('>phone') {
        @include font-size(60px);
      }

      @include media('>tablet') {
        @include font-size(72px);
      }
    } // h1

    h2 {
      color: $white;
      font-weight: 300;
      @include font-size(18px);
      line-height: 1.4;
      margin-top: 0;

      b {font-weight: 600;}

      @include media('>phone') {
        @include font-size(24px);
      }

      @include media('>tablet') {
        @include font-size(30px);
        width: 50%;
      }
    } // h2
  } // &#masthead

  nav#primary_nav {
    font-family: $nav-font-family;
    font-weight: $nav-font-weight;
    padding-top: 1em;

    ul {
      @extend %list-in-disguise;

      @include media('>tablet') {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      li {
        line-height: 1em;
        padding-top: 1em;
        text-transform: uppercase;

        &:last-child {
          margin-left: auto;

          margin-top: 1em;

          @include media('>tablet') {
            margin-top: 0;
          }

          a {
            background-color: $base;
            border-bottom: 2px solid $dark-base;
            border-radius: $base-border-radius;
          } // a
        } // &:last-child

        &:first-child {
        a {
            @extend %image-replacement;
            @include background-image("logo_mark");
            background-repeat: no-repeat;
            display: block;
            height: 62px;
            width: 53px;
            margin-top: -2em;
            background-position: center center;
          }
        }

        a,
        a:link,
        a:visited {
          text-shadow: 0 1px 2px rgba(0,0,0,0.75);
          color: $white;
          padding: 1em;
          text-decoration: none;
        }

        a:hover,
        a:active {
          text-decoration: underline;
        }
      } // li
    } // ul
  } // nav#primary_nav
} // header

main {
  padding: 1em;
  width: 100%;

  @include media('>tablet') {
    max-width: 50em;
    margin: 0 auto;
    padding: 0;
  }

  h1 {
    @include font-size(36px);
    font-weight: 200;
    margin: 1em 0;

    @include media('>tablet') {
      @include font-size(56px);
    }
  }
}

footer#page_footer {
  background-color: $black;
  color: $white;
  margin: 0;
  padding: 1em;

  @include media('>tablet') {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3em;
  }

  h2#footer_logo {
    @extend %image-replacement;
    @include background-image("footer_logo");
    background-repeat: no-repeat;
    display: block;
    height: 105px;
    width: 93px;
    margin-top: -0.25em;
    background-position: center center;
  } // h2#footer_logo

  nav {

    @include media('>tablet') {
      width: 33%;
    }

    ul {
      @extend %list-in-disguise;

      li {
        line-height: 2em;
      }
    }

    a,
    a:link,
    a:visited {
      color: $white;
      text-transform: uppercase;
      text-decoration:none;
    }

    a:hover, a:active {
      text-decoration: underline;
    }

    &#footer_nav {

      @include media('>tablet') {
        margin-left: 20%;
      }
    } // #footer_nav

    ul.socials {
      @extend %list-in-disguise;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 2em;

      li {
        height: 80px;

        a {
          @extend %image-replacement;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          display: block;
          height: 40px; // Change to the height of the tallest logo.
          width: 40px;
          margin: 0 1em;

          &#linkedin {
            @include background-image("socials/linkedin");
          }

          &#github {
            @include background-image("socials/github");
          }

          &#twitter {
            @include background-image("socials/twitter");
          }
        } // a

      } // li
    }
  } // nav

} // footer#page_footer