body {
  font-family: $base-font-family;
  line-height: $base-line-height;
  margin: 0;
  padding: 0;
}

header {
  background: $gray-darkest;
  margin-top: 0;
  padding: 1em;

  @include media('>tablet') {
    padding: 1em 3em;
  }

  hgroup { display: none; }

  &#masthead {
    background-image: url("/assets/ja_clean_lines_bkgnd.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    div.backdrop {
      background-color:rgba(0, 0, 0, 0.5);
      margin: -1em;
      padding: 1em;

      @include media('>tablet') {
        background-color: transparent;
      }
    }

    hgroup {
      display: block;

      @include media('>tablet') {
        margin: 7em 0 5em;
      }
    }

    h1 {
      color: $white;
      font-weight: 900;
      @include font-size(52px);
      line-height: 1;
      margin-bottom: 10px;

      @include media('>phone') {
        @include font-size(60px);
      }

      @include media('>tablet') {
        @include font-size(72px);
      }
    } // h1

    h2 {
      color: $white;
      font-weight: 300;
      @include font-size(18px);
      line-height: 1.4;
      margin-top: 0;

      b {font-weight: 600;}

      @include media('>phone') {
        @include font-size(24px);
      }

      @include media('>tablet') {
        @include font-size(30px);
        width: 50%;
      }
    } // h2
  } // &#masthead

  nav#primary_nav {
    font-family: $nav-font-family;
    font-weight: $nav-font-weight;

    ul {
      @extend %list-in-disguise;

      @include media('>tablet') {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      li {
        line-height: 1em;
        padding-top: 1em;
        text-transform: uppercase;

        &:last-child {
          margin-left: auto;

          a {
            background-color: $base;
            border-bottom: 2px solid $dark-base;
            border-radius: $base-border-radius;
          } // a
        } // &:last-child

        &:first-child {
        a {
            @extend %image-replacement;
            @include background-image("logo_mark");
            background-repeat: no-repeat;
            display: block;
            height: 62px;
            width: 53px;
            margin-top: -2em;
            background-position: center center;
          }
        }

        a,
        a:link,
        a:visited {
          color: $white;
          padding: 1em;
          text-decoration: none;
        }

        a:hover,
        a:active {
          text-decoration: underline;
        }
      } // li
    } // ul
  } // nav#primary_nav
} // header