<% set_meta_tags title: "Work",
                 og: {
                   title: "John Athayde | Work",
                 } %>

<h1>Work</h1>

<section id="case_studies">
  <h2 class="tinylabel"><b>01</b> Case Studies</h2>

  <ol id="cs_list">
    <li id="livingsocial_csr">

    </li>
    <li id="navanti_pulse">

    </li>
    <li id="procore">

    </li>
  </ol>

</section>

<section id="other_work">
  <h2 class="tinylabel"><b>02</b> Other Work</h2>

  <p class="callout">
    I've worked on a very broad collection of projects over the years. If there is something you'd specifically like to see, please <%= link_to "contact me", contact_path %>. In the meantime, you can see some other works from the last decade at <%= link_to "portfolio.johnathayde.com", "https://portfolio.johnathayde.com" %>
  </p>
</section>