<% set_meta_tags title: "Work | PowerFleet: Intermodal Concept",
                 og: {
                   title: "John Athayde | Work: Intermodal Concept",
                 } %>

<% content_for :work_header do %>
  <section class="work-header" id="navanti_head">
    <h1>
      <span>Case Study »</span>
      PowerFleet Intermodal Concept (2021)
    </h1>
  </section>
<% end %>

<section class="bluf">
  <h2 class="tinylabel"><b>01</b> BLUF</h2>
  [to be written]
</section>

<section class="team">
  <h2 class="tinylabel"><b>02</b> My Role</h2>
  <p>Script development, Video Production, Video Editing/Grading, UX, Visual Design, Clickable Prototype</p>
</section>

<section class="long-form">
  <h2 class="tinylabel"><b>03</b> The Details</h2>

  <h3>The Problem</h3>

  <p>PowerFleet had the opportunity to showcase some of our new technology involving chassis and load sensing at the Freghtwaves F3 Virtual Conference in the Fall of 2021. The existing application that supported this technology was from acquisition and did not look like the current brand. </p>

  <h3>Building a New Reality</h3>

  <p>Taking existing data and functionality from the older application, I created a clickable prototype with Sketch and InVision that allowed us to simulate a few common workflows. I leveraged the vision board styling I had worked up previously, incorporating the new brand and a new look and feel on our core platform.</p>

  <figure>
    <%= image_tag "work/powerfleet_chassis/powerfleet_chassis_screens.jpg", loading: :lazy, alt: "Key Screens from Powerfleet Chassis Prototype" %>
    <figcaption>
      <p>
        Key screens from the prototype build out involving all new visual components and brand elements.
      </p>
    </figcaption>
  </figure>

  <h3>Selling The Vision</h3>

  <p>I worked closely with Julia Grove, the head of marketing, and other SMEs in PowerFleet to create a script explaining these features' value through a six-minute video. Due to COVID, I filmed this in my home office and was the on-camera talent. I edited the presentation together and performed the audio post on it to get it ready to go out for the conference.</p>

  <figure>
    <div style="padding:56.25% 0 0 0;position:relative;">
      <iframe src="https://player.vimeo.com/video/644169795?h=07c4e908e2&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <p><a href="https://vimeo.com/644169795">PowerFleet Intermodal at F3 2021</a> from <a href="https://vimeo.com/powerfleet">Powerfleet&reg;</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
  </figure>

  <h3>Outcomes</h3>

  <p>Many of the styles solidified in this effort became the basis for our PowerFleet Unity project in the first half of 2022, resulting in a complete reskinning of our core Connect platform and mobile applications. </p>

</section>

<section class="tools-used">
  <h2 class="tinylabel"><b>04</b> Tools Used</h2>
  <ul class="tags">
    <li>Sketch</li>
    <li>12" Architectural Trace</li>
    <li>Slugline</li>
    <li>Final Cut Pro (with Maxon's Magic Bullet & Mojo)</li>
    <li>ProTools Ultimate/HDX</li>
  </ul>
</section>