<% set_meta_tags title: "Work | Procore",
                 og: {
                   title: "John Athayde | Work: Procore",
                 } %>

<h1>
  <span>Case Study »</span>
  Procore
</h1>

<section class="bluf">
  <h2 class="tinylabel"><b>01</b> BLUF</h2>
  [to be written]
</section>

<section class="team">
  <h2 class="tinylabel"><b>02</b> The Team</h2>
  <ul>
    <li><b>Brandon Terry</b>: SVP Product</li>
    <li><b>John Athayde</b>: UX, Visual Design</li>
    <li><b>Josh Newland</b>: Product Management</li>
    <li><b>Jana McClure</b>: Product Management</li>
  </ul>
</section>

<section class="long-form">
  <h2 class="tinylabel"><b>03</b> The Details</h2>

  <p>Case Study coming soon</p>

</section>

<section class="tools-used">
  <h2 class="tinylabel"><b>04</b> Tools Used</h2>
  <ul class="tags">
    <li>Sketch</li>
    <li>Photoshop</li>
    <li>Illustrator</li>
    <li>Excel</li>
    <li>Trace/Pen</li>
    <li>Ruby on Rails</li>
    <li>HTML/SCSS</li>
  </ul>
</section>