<% set_meta_tags title: "John Athayde | Creative Technologist & Design Leadership",
                 og: {
                   title: "John Athayde | Creative Technologist & Design Leadership",
                 } %>

<% content_for :social_proof do %>
<section id="social_proof" class="home-block">
  <h2 class="tinylabel">Seen collaborating at places like</h2>
  <ul id="brand_list">
    <li id="powerfleet">PowerFleet</li>
    <li id="cargosense">CargoSense</li>
    <li id="livingsocial">LivingSocial</li>
    <li id="guggenheim">Guggenheim Securities</li>
    <li id="procore">Procore</li>
  </ul>
</section>
<% end %>

<section id="project_reel" class="home-block">
  <h2 class="tinylabel"><b>02</b> Project Reel</h2>
  [VIDEO TBD]
</section>

<section id="featured_work" class="home-block">
  <h2 class="tinylabel"><b>03</b> Featured Work</h2>

</section>

<section id="developerux" class="home-block">
  <h2 class="tinylabel"><b>04</b> DeveloperUX</h2>

</section>

<section id="mailing_contact" class="home-block">
  <h2 class="tinylabel"><b>05</b> Mailing List & Contact</h2>



</section>