<% set_meta_tags title: "John Athayde | Creative Technologist & Design Leadership",
                 og: {
                   title: "John Athayde | Creative Technologist & Design Leadership",
                 } %>

<section id="social_proof">
  <h2 class="tinylabel">Seen collaborating at places like</h2>
</section>

<section id="project_reel">
  <h2 class="tinylabel"><b>02</b> Project Reel</h2>
  [VIDEO TBD]
</section>

<section id="featured_work">
  <h2 class="tinylabel"><b>03</b> Featured Work</h2>

</section>

<section id="developerux">
  <h2 class="tinylabel"><b>04</b> DeveloperUX</h2>

</section>

<section id="mailing_contact">
  <h2 class="tinylabel"><b>05</b> Mailing List & Contact</h2>



</section>