<% set_meta_tags title: "Resume/CV",
                 og: {
                   title: "John Athayde | Resume/CV",
                 } %>

<h1>Resume</h1>
<p>Local version coming soon. For now, you can <%= link_to "download the PDF", "" %> or <%= link_to "visit my LinkedIn profile", "https://www.linkedin.com/in/johnathayde/" %></p>
