<% set_meta_tags title: "Resume/CV",
                 og: {
                   title: "John Athayde | Resume/CV",
                 } %>

<h1>Resume</h1>
<p>Find me in app/views/pages/resume.html.erb</p>
