// Form styles
form {
  margin-bottom: 2em;

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      margin: 0 0 1.5em 0;
      padding: 0;
    }
  }

  label {
    display: block;
    font-family: $body-stack;
    @include font-size(15px);
    font-weight: 400;
    margin-bottom: 0.5em;
    text-transform: capitalize;
  } // label

  fieldset {
    // background-color: $gray-lightest;
    border: none;
    border-radius: $base-border-radius;
    margin-bottom: 1em;
    overflow: visible;
    padding: 1em 1em 0.5em 1em;
    position: relative;

    &.issue-shape {
      clear: both;
    }

    legend {
      color: $gray-dark;
      @include font-size(12px);
      font-weight: 400;
      text-transform: uppercase;

      b {
        font-weight: 600;
      }
    }

    p.info {
      font-size: 0.875em;
      line-height: 2em;
    }
  }

  span.hint {
    display: block;
    font-size: 0.825em;
    font-style: italic;
    color: #777;
  }

  input {
    font-family: $body-stack;
    @include font-size(18px);
    font-weight: 300;
    line-height: 1.5em;
    padding: 0.5em;

    &:focus {
      outline: 3px solid rgba($base, 0.5);
    }

    &[type="checkbox"] {
      clear: left;
      margin: 0.25em 0.5em 0.25em 0;

      & + label {
        font-weight: normal;
        line-height: 1.4em;
        text-transform: capitalize;
      }
    }

    &[type="text"],
    &[type="url"] {
      width: 40em;
    } // input[type="text"]

    &[type="email"],
    &[type="password"] {
      width: 20em;
    } // input[type="email"]

    &[type="number"] {
       width: 8em;
    }

    &[type="submit"] {
      background-color: $base;
      border: none;
      border-bottom: 2px solid $dark-base;
      border-radius: $base-border-radius;
      color: $white;
      padding: 0.5em 1em;
    }

  } // input

  select {
    font-family: $body-stack;
    @include font-size(18px);
    font-weight: 300;
    line-height: 1.5em;
    padding: 0.5em 1em 0.5em 0.25em;

    &:focus {
      outline: 3px solid rgba($base, 0.5);
    }
  }

  textarea {
    border: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-light;
    font-family: $body-stack;
    @include font-size(18px);
    font-weight: 300;
    line-height: 1.5em;
    padding: 0.5em;
    width: 40em;

    &:focus {
      outline: 3px solid rgba($base, 0.5);
    }
  }


  .inline {
    display: inline-block;
    float: left;
    margin-right: 1em;
  }

  .input {
    margin-bottom: 1em;
    overflow: hidden;
  } // .input

} // form

.select2-container {
  width: 250px;
}

ul.ui-autocomplete {
  @extend %list-in-disguise;
  background: $white;
  border: 1px solid $gray-dark;
  width: 300px;
}