<% set_meta_tags title: "Blog",
                 og: { title: "Blog" } %>

<h1>Blog</h1>

<section id="articles">
  <% if @articles.any? %>
    <ol class="articles">
      <% @articles.each do |article| %>
        <%= render "article", article: article %>
      <% end %>
    </ol>
  <% else %>
    <p>No posts yet.</p>
  <% end %>
</section>
